<div class="page">
  <h2 id="detail-title">Customer Details</h2>
  <form id="customer-form">

    <label>
      Name<br/>
      <input id="cust-name" type="text" required />
    </label><br/>

    <label>
      Address<br/>
      <input id="cust-address" type="text" />
    </label><br/>

    <label>
      Registration No.<br/>
      <input id="cust-reg" type="text" />
    </label><br/><br/>

    <button type="submit" id="save-customer-btn">Save</button>
    <button type="button" id="cancel-customer-btn">Cancel</button>
  </form>
</div>
